# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.coverage
.cache
coverage.xml

# Sphinx documentation
docs/_build/

# IntelliJ
.idea/